*{
    margin:0;
      padding: 0;
}

#container{
      width:100%;
      margin: 0px auto;
  }

.navbaristek{
  background-color:white; position:fixed; width:100%;
  z-index:1;
  font-weight: bold;
}
.navbaristek a{
  color: black;
}
.navbaristek a:hover{
  transition: 0.2s;
  color:rgba(0, 0, 0, 0.4);
}


/* Animation properties */
.star {
    animation: star 10s linear infinite;
  }
  .wars {
    animation: wars 10s ease-out infinite;
  }
  .byline span {
    animation: spin-letters 10s linear infinite;
  }
  .byline {
    animation: move-byline 10s linear infinite;
  }
  
  #slider-class{
    max-width: 100%;
     /* background: skyblue; */
    /* background-image: url("../image/testarkaplan.png"); */
  }

  /* Keyframes */
  @keyframes star {
    0% {
      opacity: 0;
      transform: scale(1.5) translateY(-0.75em);
    }
    20% {
      opacity: 1;
    }
    89% {
      opacity: 1;
      transform: scale(1);
    }
    100% {
      opacity: 0;
      transform: translateZ(-1000em);
    }
  }
  
  @keyframes spin-letters {
    0%, 10% {
      opacity: 0;
      transform: rotateY(90deg);
    }
    30% {
      opacity: 1;
    }
    70%, 86% {
      transform: rotateY(0);
      opacity: 1;
    }
    95%, 100% {
      opacity: 0;
    }
  }
  
  @keyframes move-byline {
    0% {
      transform: translateZ(5em);
    }
    100% {
      transform: translateZ(0);
    }
  }
  
  /* Make the 3D work on the container */
  .starwars-demo {
    perspective: 800px;
    transform-style: preserve3d;
  }
  

  .starwars-demo {
    height: 17em;
    left: 50%;
    position: absolute;
    top: 53%;
    transform: translate(-50%, -50%);
    width: 34em;
    
  }
  
  .byline span {
    display: inline-block;
  }
  
  .star, .wars, .byline {
    position: absolute;
  }
  
  .star {
    top: -14.75em;
  }
  
  .byline {
    color: #fff;
    font-family: "ITC Serif Gothic", Lato;
    font-size: 2.25em;
    left: -2em;
    letter-spacing: 0.4em;
    right: -2em;
    text-align: center;
    text-transform: uppercase;
    top:-1.2em;
  }
  
  /*** Media queries for adjusting to different screen sizes ***/
  
  @media only screen and (max-width: 600px) {
    .starwars-demo {
      font-size: 10px;
    }
  }
  
  @media only screen and (max-width: 480px) {
    .starwars-demo {
      font-size: 7px;
    }
  }

.text-center{
  text-align:center;
}

table{
  width: 71.3%;			
  border-collapse: collapse;
}

.table-blue th{
  background-color: #2196F3;
  color: white;
}
table th{
  text-align: left;			
}

table td,table th{
  border: 1px solid #ddd;
  padding: 6px;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  
}

table tr:hover{
  background-color: #ddd;
}



.logo img{
   width: 15%;
}
.navbar{
height:15%;
}

ul{
  text-decoration: none;
  display: inline;
  
  }
   
  li{
    display: inline-block;
    padding-right: 15px;
    }


  /*** SPECIAL BUTTON ***/


.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.button2 {
  display: inline-block;
  border-radius: 4px;
  background-color:blueviolet;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 300px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button2 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  padding-left: 5px;
}

.button2 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button2:hover span {
  padding-right: 25px;
}

.button2:hover span:after {
  opacity: 1;
  right: 0;
}

.kayitbuttonu{
 text-align: center;
 padding: 45px;

}

.girismenu{
  display: inline-block;
  float: right;
}
.girismenu1{
padding-top: 30px;
padding-right: 15px;
}

.girisbutton {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: blueviolet;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.girisbutton:hover {background-color: #3e8e41}

.girisbutton:active {
  background-color: blueviolet;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.giristext{
  border-color:2px solid #ccc!important;
}
.leader{
  border: 1px solid yellow;
}
.tworank{
  border: 1px solid silver;
}
.threerank{
  border: 1px solid #cd7f32;
}

#myFooter {
	background-color: #373a48;
  color:white;

}

#myFooter .footer-copyright{
	background-color: #383737;
	padding-top:3px;
	padding-bottom:3px;
	text-align: center;
}

#myFooter .footer-copyright p{
	margin:10px;
	color: #ccc;
}

#myFooter ul{
	list-style-type: none;
    padding-left: 0;
    line-height: 1.7;

}

#myFooter h5{
	font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

#myFooter a{
	color:#d2d1d1;
	text-decoration: none;
}

#myFooter a:hover, #myFooter a:focus{
	text-decoration: none;
	color:white;
}

#myFooter .myCols{
	text-align: center;
}

#myFooter .social-networks{
	text-align: center;
	padding-top: 30px;
	padding-bottom: 38px;
}

#myFooter .social-networks a{
    font-size: 32px;
    margin-right: 5px;
    margin-left: 5px;
    color: #f9f9f9;
    padding: 10px;
    transition: 0.2s;
}

#myFooter .social-networks a:hover{
	text-decoration: none;

}
.social-networks .fab:hover{
  color: #0077e2;
}

@media screen and (max-width: 767px){
	#myFooter {
		text-align: center;
	}
}

.content{
	flex: 1 0 auto;
	-webkit-flex: 1 0 auto;
	min-height: 200px;
}

#myFooter{
	flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
}

.game-settings{
  display: inline-block;
padding-top: 1%;
padding-bottom: 1%;
padding-left: 20%;
width: 100%;
}
.csgo{
  display: inline-block;
  transition: all 0.3s;
  
}
.csgo:hover img{
  border: 2px solid red;
  transform: scale(1.1);

}
.lol{
  display: inline-block;
  transition: all 0.3s;
}
.lol:hover img{
  border: 2px solid red;
  transform: scale(1.1);
}
.pubg{
  display: inline-block;
  transition: all 0.3s;
}
.pubg:hover img{
  border: 2px solid red;
  transform: scale(1.1);
}
.fornite{
  display: inline-block;
  transition: all 0.3s;
}
.fornite:hover img{
  border: 2px solid red;
  transform: scale(1.1);

}
.fifa19{
  display: inline-block;
  transition: all 0.3s;
}
.fifa19:hover img{
  border: 2px solid red;
  transform: scale(1.1);

}
.bosluk{
  height: 30px;
}
.cizgi{
  border: 1px solid green;
}
.games{
  padding: 20px;
}

/*Giriş sayfası */

.card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.card-signin .card-body {
  padding: 2rem;
}

.form-signin {
  width: 100%;
}

.form-signin .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group input {
  height: 38px;
  border-radius: 2rem;
}

.form-label-group>input,
.form-label-group>label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group>label {
  position: absolute;
  top: 3px;
  left: 5px;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.2;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown)~label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

.btn-kayit {
  color: white;
  background-color: #ea4335;
}

.logogiris{
  display: inline-block;
  width:100%;
}
.logogiris img{
  display: inline-block;
  padding-left:34%;
}
.span-center{
  display: inline-block;
  padding-left: 36%;
  padding-bottom: 5%;
}

/* Create Account */

.divider-text {
  position: relative;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
.divider-text span {
  padding: 7px;
  font-size: 12px;
  position: relative;   
  z-index: 2;
}
.divider-text:after {
  content: "";
  position: absolute;
  width: 100%;
  border-bottom: 1px solid #ddd;
  top: 55%;
  left: 0;
  z-index: 1;
}
.btnkenarlari{
  border-radius: 25px;
  font-size:80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  transition:all 0.2;
}
.btnkenarlaritakimkur{
  border-radius: 35px;
  font-size:80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  transition:all 0.2;
}
.pyaziortalama{
  padding-left: 80px;
}

.btnkayit{
  width: 360px;
}

.btnkayittakimkur{
  width: 450px;
}

.csgomenuarasi{
  padding-top: 150px;
}

.turnuvaekle{
margin-left:45%;
margin-bottom:2%;
}

/* takimim sayfası için */

.takimlogosu{
  background-image: url("../image/testtakimim.png");
  display: inline-block;
  width: 100%;

}
.takimlogosu2{
  margin-left: 5%;
  height: 350px;
  width: 20%;
  display: inline-block;

}
.takimlogosu2 img{
  display: inline-block;
}
